In [1]:
import pandas as pd

In [2]:
# List of 5 yearly dataset filenames
dataset_filenames = [
    '/Users/Yifee/Desktop/MZHANG/2022 Electricity Monthly Archive/temp_2022.csv',
    '/Users/Yifee/Desktop/MZHANG/2021 Electricity Monthly Archive/temp_2021.csv',
    '/Users/Yifee/Desktop/MZHANG/2020 Electricity Monthly Archive/temp_2020.csv',
    '/Users/Yifee/Desktop/MZHANG/2019 Electricity Monthly Archive/temp_2019.csv',
    '/Users/Yifee/Desktop/MZHANG/2018 Electricity Monthly Archive/temp_2018.csv'
]

In [3]:
# List to store the yearly dataframes
yearly_dataframes = []

In [4]:
# Iterate over each dataset filename
for filename in dataset_filenames:
    # Open the monthly dataset
    dataset = pd.read_csv(filename)
    
    # Add a new column 'Year'
    dataset['Year'] = int(filename[-8:-4])  # Extract the year from the filename
    
    #Rename column ‘REGIONID’ to ‘Region’
    dataset = dataset.rename(columns={'Fuel Source - Primary': 'Fuel Source'})
    
    # Drop the column 'DUID', 'Station Name', 'SCADAVALUE', ‘Dispatch Type’, ‘Unit Size (MW)’
    dataset = dataset.drop('DUID', axis=1)
    dataset = dataset.drop('Station Name', axis=1)
    dataset = dataset.drop('SCADAVALUE', axis=1)
    dataset = dataset.drop('Dispatch Type', axis=1)
    dataset = dataset.drop('Unit Size (MW)', axis=1)
    
    # Reorder the columns following: Year|Month|Region|Fuel Source|Electricity Generation (MWh)
    column_order = ['Year','Month','Region','Fuel Source','Electricity Generation (MWh)']
    dataset = dataset[column_order]
    
    # Append the monthly dataset to the list
    yearly_dataframes.append(dataset)

In [5]:
# Concatenate the monthly dataframes vertically to get the yearly electricity generation dataframe
fiveyears_df = pd.concat(yearly_dataframes, ignore_index=True)
fiveyears_df

       Year  Month Region      Fuel Source  Electricity Generation (MWh)
0      2022      1     SA  Battery storage                         26.69
1      2022      1     SA            Solar                        151.98
2      2022      1     SA           Fossil                       7203.53
3      2022      1    VIC           Fossil                        376.90
4      2022      1     SA           Fossil                        191.26
...     ...    ...    ...              ...                           ...
17264  2018     12    QLD           Fossil                      97907.33
17265  2018     12    VIC             Wind                       4924.70
17266  2018     12    VIC           Fossil                     209577.51
17267  2018     12    VIC           Fossil                     242737.74
17268  2018     12    VIC           Fossil                     275079.42

[17269 rows x 5 columns]

In [6]:
fiveyears_df.isnull().sum()

Year                            0
Month                           0
Region                          0
Fuel Source                     0
Electricity Generation (MWh)    0
dtype: int64

In [7]:
#Save the sheet as the 5 years rooftop pv dataset
fiveyears_df.to_csv('2018_2022_Main_Elec_Generation.csv', index=False)