In [1]:
import pandas as pd

In [2]:
# List of 5 yearly dataset filenames
dataset_filenames = [
    '/Users/Yifee/Desktop/MZHANG/2018 Rooftop PV/aggregatedREGIONID_PV_2018.csv',
    '/Users/Yifee/Desktop/MZHANG/2019 Rooftop PV/aggregatedREGIONID_PV_2019.csv',
    '/Users/Yifee/Desktop/MZHANG/2020 Rooftop PV/aggregatedREGIONID_PV_2020.csv',
    '/Users/Yifee/Desktop/MZHANG/2021 Rooftop PV/aggregatedREGIONID_PV_2021.csv',
    '/Users/Yifee/Desktop/MZHANG/2022 Rooftop PV/aggregatedREGIONID_PV_2022.csv'
]

In [3]:
# List to store the yearly dataframes
yearly_dataframes = []

In [7]:
# Iterate over each dataset filename
for filename in dataset_filenames:
    # Open the monthly dataset
    dataset = pd.read_csv(filename)
    
    # Add a new column 'Year'
    dataset['Year'] = int(filename[-8:-4])  # Extract the year from the filename
    
    # Add a new column 'Fuel Source'
    dataset['Fuel Source'] = 'Solar'  # fill in ‘Solar’ 
    
    #Rename column ‘REGIONID’ to ‘Region’
    dataset = dataset.rename(columns={'REGIONID': 'Region'})
    
    # Drop the column 'POWER'
    dataset = dataset.drop('POWER', axis=1)
    
    # Reorder the columns following: Year|Month|Region|Fuel Source|Electricity Generation (MWh)
    column_order = ['Year','Month','Region','Fuel Source','Electricity Generation (MWh)']
    dataset = dataset[column_order]
    
    # Append the monthly dataset to the list
    yearly_dataframes.append(dataset)

In [8]:
# Concatenate the monthly dataframes vertically to get the yearly electricity generation dataframe
fiveyears_df = pd.concat(yearly_dataframes, ignore_index=True)
fiveyears_df

     Year  Month Region Fuel Source  Electricity Generation (MWh)
0    2018      1    NSW       Solar                     196422.56
1    2018      1    QLD       Solar                     288434.06
2    2018      1     SA       Solar                     124545.47
3    2018      1    TAS       Solar                      17014.18
4    2018      1    VIC       Solar                     172528.62
..    ...    ...    ...         ...                           ...
295  2022     12    NSW       Solar                     795479.05
296  2022     12    QLD       Solar                     713714.95
297  2022     12     SA       Solar                     342920.71
298  2022     12    TAS       Solar                      37384.91
299  2022     12    VIC       Solar                     576142.46

[300 rows x 5 columns]

In [9]:
fiveyears_df.isnull().sum()

Year                            0
Month                           0
Region                          0
Fuel Source                     0
Electricity Generation (MWh)    0
dtype: int64

In [10]:
#Save the sheet as the 5 years rooftop pv dataset
fiveyears_df.to_csv('2018_2022_Rooftop_PV_Elec_Generation.csv', index=False)