In [1]:
import pandas as pd

In [2]:
# List of 12 monthly dataset filenames
dataset_filenames = [
    '201901-PV.CSV',
    '201902-PV.CSV',
    '201903-PV.CSV',
    '201904-PV.CSV',
    '201905-PV.CSV',
    '201906-PV.CSV',
    '201907-PV.CSV',
    '201908-PV.CSV',
    '201909-PV.CSV',
    '201910-PV.CSV',
    '201911-PV.CSV',
    '201912-PV.CSV'
]

In [3]:
# List to store the monthly dataframes
monthly_dataframes = []

In [4]:
# Iterate over each dataset filename
for filename in dataset_filenames:
    # Open the monthly dataset
    dataset = pd.read_csv(filename)
    
    # Drop the original headers in the dataset, use the first row as the new headers
    dataset = dataset.rename(columns=dataset.iloc[0]).drop(dataset.index[0]).reset_index(drop=True)
    
    # Drop the last row ('END OF REPORT') in the dataset
    dataset = dataset.iloc[:-1]
    
    # Drop the 1st-4th, 8th and 10th columns (irrelavant columns:'I','ROOFTOP','ACTUAL','2','QI','LASTCHANGED')
    columns_to_drop = dataset.columns[[0, 1, 2, 3, 7, 9]]
    dataset = dataset.drop(columns_to_drop, axis=1)
    
    # Keep all rows with ‘REGIONID’ as: NSW1, QLD1, SA1, VIC1, TAS1; 
    # Reason: all these Region IDs are the sum of other IDs, such as QLDC, QLDS, QLDN, etc
    regions_to_keep = ['NSW1', 'QLD1', 'VIC1', 'TAS1', 'SA1']
    dataset = dataset[dataset['REGIONID'].isin(regions_to_keep)]
    
    # Keep all records with ‘TYPE’ as: ‘MEASUREMENT’; 
    # Reason: ‘MEASUREMENT’ is the actual measured results of ‘POWER’, ‘SATELLITE’ is the estimated results of ‘power’)
    dataset = dataset[dataset['TYPE'] == 'MEASUREMENT'] 
    
    # Clean the 'REGIONID' column: e.g. 'NSW1' to 'NSW'
    dataset['REGIONID'] = dataset['REGIONID'].replace({'NSW1':'NSW','QLD1':'QLD','VIC1':'VIC','SA1':'SA','TAS1':'TAS'})
    
     # Change POWER to numeric
    dataset['POWER'] = pd.to_numeric(dataset['POWER'], errors='coerce')
    
    # Change INTERVAL_DATETIME to datetime
    dataset['INTERVAL_DATETIME'] = pd.to_datetime(dataset['INTERVAL_DATETIME'])
    
    # Add a new column 'Month'
    dataset['Month'] = int(filename[4:6])  # Extract the month from the filename
    
    # Append the monthly dataset to the list
    monthly_dataframes.append(dataset)

In [5]:
# Concatenate the monthly dataframes vertically to get the yearly electricity generation dataframe
yearly_df = pd.concat(monthly_dataframes, ignore_index=True)
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2019-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2019-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2019-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2019-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2019-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
88315 2020-01-02 00:00:00      NSW    0.0  MEASUREMENT     12
88316 2020-01-02 00:00:00      QLD    0.0  MEASUREMENT     12
88317 2020-01-02 00:00:00       SA    0.0  MEASUREMENT     12
88318 2020-01-02 00:00:00      TAS    0.0  MEASUREMENT     12
88319 2020-01-02 00:00:00      VIC    0.0  MEASUREMENT     12

[88320 rows x 5 columns]

In [6]:
# Delete any rows where the 'INTERVAL_DATETIME' is from 2020
yearly_df = yearly_df[~(yearly_df['INTERVAL_DATETIME'].dt.year == 2020)]
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2019-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2019-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2019-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2019-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2019-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
88070 2019-12-31 23:30:00      NSW    0.0  MEASUREMENT     12
88071 2019-12-31 23:30:00      QLD    0.0  MEASUREMENT     12
88072 2019-12-31 23:30:00       SA    0.0  MEASUREMENT     12
88073 2019-12-31 23:30:00      TAS    0.0  MEASUREMENT     12
88074 2019-12-31 23:30:00      VIC    0.0  MEASUREMENT     12

[88075 rows x 5 columns]

In [7]:
# 2019 yearly rooftop PV elecrtricity generation aggragation by 'Month' and'REGIONID' 
# Group by 'Month' and 'REGIONID', and sum the 'POWER' - i.e. the power of generator
aggregated_df = yearly_df.groupby(['Month', 'REGIONID'])['POWER'].sum().reset_index()
aggregated_df

    Month REGIONID       POWER
0       1      NSW  529016.461
1       1      QLD  692482.212
2       1       SA  330449.519
3       1      TAS   45592.918
4       1      VIC  472643.335
5       2      NSW  460096.405
6       2      QLD  565912.253
7       2       SA  286275.677
8       2      TAS   33731.029
9       2      VIC  389092.132
10      3      NSW  428566.653
11      3      QLD  567837.645
12      3       SA  265780.758
13      3      TAS   32256.929
14      3      VIC  372693.272
15      4      NSW  400161.573
16      4      QLD  517788.776
17      4       SA  205411.300
18      4      TAS   25485.688
19      4      VIC  281306.701
20      5      NSW  349382.048
21      5      QLD  469379.073
22      5       SA  143002.698
23      5      TAS   16548.454
24      5      VIC  197439.700
25      6      NSW  275127.586
26      6      QLD  411884.696
27      6       SA  129840.709
28      6      TAS   13703.401
29      6      VIC  170667.245
30      7      NSW  368967.163
31      7      QLD  509470.488
32      7       SA  140516.824
33      7      TAS   16361.295
34      7      VIC  192462.397
35      8      NSW  482006.948
36      8      QLD  621002.186
37      8       SA  186921.189
38      8      TAS   23308.452
39      8      VIC  277964.661
40      9      NSW  538962.862
41      9      QLD  725384.835
42      9       SA  257418.927
43      9      TAS   31984.241
44      9      VIC  372766.337
45     10      NSW  668002.541
46     10      QLD  788561.378
47     10       SA  337893.881
48     10      TAS   41310.214
49     10      VIC  501985.040
50     11      NSW  709025.988
51     11      QLD  872815.117
52     11       SA  366532.601
53     11      TAS   42664.041
54     11      VIC  525275.580
55     12      NSW  728822.703
56     12      QLD  898907.920
57     12       SA  420134.318
58     12      TAS   50489.523
59     12      VIC  638350.285

In [8]:
aggregated_df.isnull().sum()

Month       0
REGIONID    0
POWER       0
dtype: int64

In [9]:
#Add a new column 'Electricity Generation(MWh)'
aggregated_df['Electricity Generation (MWh)'] = round(aggregated_df['POWER'] * (30/60), 2)
aggregated_df

    Month REGIONID       POWER  Electricity Generation (MWh)
0       1      NSW  529016.461                     264508.23
1       1      QLD  692482.212                     346241.11
2       1       SA  330449.519                     165224.76
3       1      TAS   45592.918                      22796.46
4       1      VIC  472643.335                     236321.67
5       2      NSW  460096.405                     230048.20
6       2      QLD  565912.253                     282956.13
7       2       SA  286275.677                     143137.84
8       2      TAS   33731.029                      16865.51
9       2      VIC  389092.132                     194546.07
10      3      NSW  428566.653                     214283.33
11      3      QLD  567837.645                     283918.82
12      3       SA  265780.758                     132890.38
13      3      TAS   32256.929                      16128.46
14      3      VIC  372693.272                     186346.64
15      4      NSW  400161.573                     200080.79
16      4      QLD  517788.776                     258894.39
17      4       SA  205411.300                     102705.65
18      4      TAS   25485.688                      12742.84
19      4      VIC  281306.701                     140653.35
20      5      NSW  349382.048                     174691.02
21      5      QLD  469379.073                     234689.54
22      5       SA  143002.698                      71501.35
23      5      TAS   16548.454                       8274.23
24      5      VIC  197439.700                      98719.85
25      6      NSW  275127.586                     137563.79
26      6      QLD  411884.696                     205942.35
27      6       SA  129840.709                      64920.35
28      6      TAS   13703.401                       6851.70
29      6      VIC  170667.245                      85333.62
30      7      NSW  368967.163                     184483.58
31      7      QLD  509470.488                     254735.24
32      7       SA  140516.824                      70258.41
33      7      TAS   16361.295                       8180.65
34      7      VIC  192462.397                      96231.20
35      8      NSW  482006.948                     241003.47
36      8      QLD  621002.186                     310501.09
37      8       SA  186921.189                      93460.59
38      8      TAS   23308.452                      11654.23
39      8      VIC  277964.661                     138982.33
40      9      NSW  538962.862                     269481.43
41      9      QLD  725384.835                     362692.42
42      9       SA  257418.927                     128709.46
43      9      TAS   31984.241                      15992.12
44      9      VIC  372766.337                     186383.17
45     10      NSW  668002.541                     334001.27
46     10      QLD  788561.378                     394280.69
47     10       SA  337893.881                     168946.94
48     10      TAS   41310.214                      20655.11
49     10      VIC  501985.040                     250992.52
50     11      NSW  709025.988                     354512.99
51     11      QLD  872815.117                     436407.56
52     11       SA  366532.601                     183266.30
53     11      TAS   42664.041                      21332.02
54     11      VIC  525275.580                     262637.79
55     12      NSW  728822.703                     364411.35
56     12      QLD  898907.920                     449453.96
57     12       SA  420134.318                     210067.16
58     12      TAS   50489.523                      25244.76
59     12      VIC  638350.285                     319175.14

In [10]:
#Save the aggregated sheet as the yearly aggregated dataset
aggregated_df.to_csv('aggregatedREGIONID_PV_2019.csv', index=False)