In [1]:
import pandas as pd

In [2]:
# List of 12 monthly dataset filenames
dataset_filenames = [
    '202001-PV.CSV',
    '202002-PV.CSV',
    '202003-PV.CSV',
    '202004-PV.CSV',
    '202005-PV.CSV',
    '202006-PV.CSV',
    '202007-PV.CSV',
    '202008-PV.CSV',
    '202009-PV.CSV',
    '202010-PV.CSV',
    '202011-PV.CSV',
    '202012-PV.CSV'
]

In [3]:
# List to store the monthly dataframes
monthly_dataframes = []

In [4]:
# Iterate over each dataset filename
for filename in dataset_filenames:
    # Open the monthly dataset
    dataset = pd.read_csv(filename)
    
    # Drop the original headers in the dataset, use the first row as the new headers
    dataset = dataset.rename(columns=dataset.iloc[0]).drop(dataset.index[0]).reset_index(drop=True)
    
    # Drop the last row ('END OF REPORT') in the dataset
    dataset = dataset.iloc[:-1]
    
    # Drop the 1st-4th, 8th and 10th columns (irrelavant columns:'I','ROOFTOP','ACTUAL','2','QI','LASTCHANGED')
    columns_to_drop = dataset.columns[[0, 1, 2, 3, 7, 9]]
    dataset = dataset.drop(columns_to_drop, axis=1)
    
    # Keep all rows with ‘REGIONID’ as: NSW1, QLD1, SA1, VIC1, TAS1; 
    # Reason: all these Region IDs are the sum of other IDs, such as QLDC, QLDS, QLDN, etc
    regions_to_keep = ['NSW1', 'QLD1', 'VIC1', 'TAS1', 'SA1']
    dataset = dataset[dataset['REGIONID'].isin(regions_to_keep)]
    
    # Keep all records with ‘TYPE’ as: ‘MEASUREMENT’; 
    # Reason: ‘MEASUREMENT’ is the actual measured results of ‘POWER’, ‘SATELLITE’ is the estimated results of ‘power’)
    dataset = dataset[dataset['TYPE'] == 'MEASUREMENT'] 
    
    # Clean the 'REGIONID' column: e.g. 'NSW1' to 'NSW'
    dataset['REGIONID'] = dataset['REGIONID'].replace({'NSW1':'NSW','QLD1':'QLD','VIC1':'VIC','SA1':'SA','TAS1':'TAS'})
    
     # Change POWER to numeric
    dataset['POWER'] = pd.to_numeric(dataset['POWER'], errors='coerce')
    
    # Change INTERVAL_DATETIME to datetime
    dataset['INTERVAL_DATETIME'] = pd.to_datetime(dataset['INTERVAL_DATETIME'])
    
    # Add a new column 'Month'
    dataset['Month'] = int(filename[4:6])  # Extract the month from the filename
    
    # Append the monthly dataset to the list
    monthly_dataframes.append(dataset)

In [5]:
# Concatenate the monthly dataframes vertically to get the yearly electricity generation dataframe
yearly_df = pd.concat(monthly_dataframes, ignore_index=True)
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2020-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2020-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2020-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2020-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2020-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
90715 2021-01-02 00:00:00      NSW    0.0  MEASUREMENT     12
90716 2021-01-02 00:00:00      QLD    0.0  MEASUREMENT     12
90717 2021-01-02 00:00:00       SA    0.0  MEASUREMENT     12
90718 2021-01-02 00:00:00      TAS    0.0  MEASUREMENT     12
90719 2021-01-02 00:00:00      VIC    0.0  MEASUREMENT     12

[90720 rows x 5 columns]

In [9]:
# Delete any rows where the 'INTERVAL_DATETIME' is from 2021
yearly_df = yearly_df[~(yearly_df['INTERVAL_DATETIME'].dt.year == 2021)]
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2020-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2020-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2020-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2020-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2020-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
90470 2020-12-31 23:30:00      NSW    0.0  MEASUREMENT     12
90471 2020-12-31 23:30:00      QLD    0.0  MEASUREMENT     12
90472 2020-12-31 23:30:00       SA    0.0  MEASUREMENT     12
90473 2020-12-31 23:30:00      TAS    0.0  MEASUREMENT     12
90474 2020-12-31 23:30:00      VIC    0.0  MEASUREMENT     12

[90475 rows x 5 columns]

In [10]:
# 2020 yearly rooftop PV elecrtricity generation aggragation by 'Month' and'REGIONID' 
# Group by 'Month' and 'REGIONID', and sum the 'POWER' - i.e. the power of generator
aggregated_df = yearly_df.groupby(['Month', 'REGIONID'])['POWER'].sum().reset_index()
aggregated_df

    Month REGIONID        POWER
0       1      NSW   667420.844
1       1      QLD   839180.411
2       1       SA   390383.278
3       1      TAS    44923.170
4       1      VIC   560725.575
5       2      NSW   585165.391
6       2      QLD   683965.864
7       2       SA   348489.586
8       2      TAS    39975.783
9       2      VIC   492445.765
10      3      NSW   616648.455
11      3      QLD   773767.298
12      3       SA   324855.696
13      3      TAS    35905.627
14      3      VIC   499658.472
15      4      NSW   536983.969
16      4      QLD   717948.936
17      4       SA   237434.587
18      4      TAS    26251.752
19      4      VIC   343351.078
20      5      NSW   481186.787
21      5      QLD   599407.135
22      5       SA   201292.074
23      5      TAS    21504.184
24      5      VIC   304222.576
25      6      NSW   418119.019
26      6      QLD   546274.600
27      6       SA   172068.062
28      6      TAS    16135.747
29      6      VIC   255135.496
30      7      NSW   445723.375
31      7      QLD   601856.885
32      7       SA   201930.393
33      7      TAS    21122.297
34      7      VIC   257234.157
35      8      NSW   622599.769
36      8      QLD   778902.601
37      8       SA   243492.051
38      8      TAS    27625.994
39      8      VIC   366801.809
40      9      NSW   731946.490
41      9      QLD   838224.360
42      9       SA   313416.143
43      9      TAS    35146.604
44      9      VIC   479867.000
45     10      NSW   819913.487
46     10      QLD   983026.308
47     10       SA   364790.161
48     10      TAS    43678.503
49     10      VIC   550985.188
50     11      NSW   978387.626
51     11      QLD  1105611.149
52     11       SA   466811.525
53     11      TAS    51836.273
54     11      VIC   681169.350
55     12      NSW   871723.314
56     12      QLD   942627.151
57     12       SA   506154.940
58     12      TAS    51167.170
59     12      VIC   732032.986

In [11]:
aggregated_df.isnull().sum()

Month       0
REGIONID    0
POWER       0
dtype: int64

In [13]:
#Add a new column 'Electricity Generation(MWh)'
aggregated_df['Electricity Generation (MWh)'] = round(aggregated_df['POWER'] * (30/60), 2)
aggregated_df

    Month REGIONID        POWER  Electricity Generation (MWh)
0       1      NSW   667420.844                     333710.42
1       1      QLD   839180.411                     419590.21
2       1       SA   390383.278                     195191.64
3       1      TAS    44923.170                      22461.58
4       1      VIC   560725.575                     280362.79
5       2      NSW   585165.391                     292582.70
6       2      QLD   683965.864                     341982.93
7       2       SA   348489.586                     174244.79
8       2      TAS    39975.783                      19987.89
9       2      VIC   492445.765                     246222.88
10      3      NSW   616648.455                     308324.23
11      3      QLD   773767.298                     386883.65
12      3       SA   324855.696                     162427.85
13      3      TAS    35905.627                      17952.81
14      3      VIC   499658.472                     249829.24
15      4      NSW   536983.969                     268491.98
16      4      QLD   717948.936                     358974.47
17      4       SA   237434.587                     118717.29
18      4      TAS    26251.752                      13125.88
19      4      VIC   343351.078                     171675.54
20      5      NSW   481186.787                     240593.39
21      5      QLD   599407.135                     299703.57
22      5       SA   201292.074                     100646.04
23      5      TAS    21504.184                      10752.09
24      5      VIC   304222.576                     152111.29
25      6      NSW   418119.019                     209059.51
26      6      QLD   546274.600                     273137.30
27      6       SA   172068.062                      86034.03
28      6      TAS    16135.747                       8067.87
29      6      VIC   255135.496                     127567.75
30      7      NSW   445723.375                     222861.69
31      7      QLD   601856.885                     300928.44
32      7       SA   201930.393                     100965.20
33      7      TAS    21122.297                      10561.15
34      7      VIC   257234.157                     128617.08
35      8      NSW   622599.769                     311299.88
36      8      QLD   778902.601                     389451.30
37      8       SA   243492.051                     121746.03
38      8      TAS    27625.994                      13813.00
39      8      VIC   366801.809                     183400.90
40      9      NSW   731946.490                     365973.24
41      9      QLD   838224.360                     419112.18
42      9       SA   313416.143                     156708.07
43      9      TAS    35146.604                      17573.30
44      9      VIC   479867.000                     239933.50
45     10      NSW   819913.487                     409956.74
46     10      QLD   983026.308                     491513.15
47     10       SA   364790.161                     182395.08
48     10      TAS    43678.503                      21839.25
49     10      VIC   550985.188                     275492.59
50     11      NSW   978387.626                     489193.81
51     11      QLD  1105611.149                     552805.57
52     11       SA   466811.525                     233405.76
53     11      TAS    51836.273                      25918.14
54     11      VIC   681169.350                     340584.68
55     12      NSW   871723.314                     435861.66
56     12      QLD   942627.151                     471313.58
57     12       SA   506154.940                     253077.47
58     12      TAS    51167.170                      25583.58
59     12      VIC   732032.986                     366016.49

In [14]:
#Save the aggregated sheet as the yearly aggregated dataset
aggregated_df.to_csv('aggregatedREGIONID_PV_2020.csv', index=False)