In [1]:
import pandas as pd

In [2]:
# List of 12 monthly dataset filenames
dataset_filenames = [
    '202101-PV.CSV',
    '202102-PV.CSV',
    '202103-PV.CSV',
    '202104-PV.CSV',
    '202105-PV.CSV',
    '202106-PV.CSV',
    '202107-PV.CSV',
    '202108-PV.CSV',
    '202109-PV.CSV',
    '202110-PV.CSV',
    '202111-PV.CSV',
    '202112-PV.CSV'
]

In [3]:
# List to store the monthly dataframes
monthly_dataframes = []

In [4]:
# Iterate over each dataset filename
for filename in dataset_filenames:
    # Open the monthly dataset
    dataset = pd.read_csv(filename)
    
    # Drop the original headers in the dataset, use the first row as the new headers
    dataset = dataset.rename(columns=dataset.iloc[0]).drop(dataset.index[0]).reset_index(drop=True)
    
    # Drop the last row ('END OF REPORT') in the dataset
    dataset = dataset.iloc[:-1]
    
    # Drop the 1st-4th, 8th and 10th columns (irrelavant columns:'I','ROOFTOP','ACTUAL','2','QI','LASTCHANGED')
    columns_to_drop = dataset.columns[[0, 1, 2, 3, 7, 9]]
    dataset = dataset.drop(columns_to_drop, axis=1)
    
    # Keep all rows with ‘REGIONID’ as: NSW1, QLD1, SA1, VIC1, TAS1; 
    # Reason: all these Region IDs are the sum of other IDs, such as QLDC, QLDS, QLDN, etc
    regions_to_keep = ['NSW1', 'QLD1', 'VIC1', 'TAS1', 'SA1']
    dataset = dataset[dataset['REGIONID'].isin(regions_to_keep)]
    
    # Keep all records with ‘TYPE’ as: ‘MEASUREMENT’; 
    # Reason: ‘MEASUREMENT’ is the actual measured results of ‘POWER’, ‘SATELLITE’ is the estimated results of ‘power’)
    dataset = dataset[dataset['TYPE'] == 'MEASUREMENT'] 
    
    # Clean the 'REGIONID' column: e.g. 'NSW1' to 'NSW'
    dataset['REGIONID'] = dataset['REGIONID'].replace({'NSW1':'NSW','QLD1':'QLD','VIC1':'VIC','SA1':'SA','TAS1':'TAS'})
    
     # Change POWER to numeric
    dataset['POWER'] = pd.to_numeric(dataset['POWER'], errors='coerce')
    
    # Change INTERVAL_DATETIME to datetime
    dataset['INTERVAL_DATETIME'] = pd.to_datetime(dataset['INTERVAL_DATETIME'])
    
    # Add a new column 'Month'
    dataset['Month'] = int(filename[4:6])  # Extract the month from the filename
    
    # Append the monthly dataset to the list
    monthly_dataframes.append(dataset)

In [5]:
# Concatenate the monthly dataframes vertically to get the yearly electricity generation dataframe
yearly_df = pd.concat(monthly_dataframes, ignore_index=True)
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2021-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2021-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2021-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2021-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2021-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
90475 2022-01-02 00:00:00      NSW    0.0  MEASUREMENT     12
90476 2022-01-02 00:00:00      QLD    0.0  MEASUREMENT     12
90477 2022-01-02 00:00:00       SA    0.0  MEASUREMENT     12
90478 2022-01-02 00:00:00      TAS    0.0  MEASUREMENT     12
90479 2022-01-02 00:00:00      VIC    0.0  MEASUREMENT     12

[90480 rows x 5 columns]

In [9]:
# Delete any rows where the 'INTERVAL_DATETIME' is from 2022
yearly_df = yearly_df[~(yearly_df['INTERVAL_DATETIME'].dt.year == 2022)]
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2021-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2021-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2021-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2021-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2021-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
90230 2021-12-31 23:30:00      NSW    0.0  MEASUREMENT     12
90231 2021-12-31 23:30:00      QLD    0.0  MEASUREMENT     12
90232 2021-12-31 23:30:00       SA    0.0  MEASUREMENT     12
90233 2021-12-31 23:30:00      TAS    0.0  MEASUREMENT     12
90234 2021-12-31 23:30:00      VIC    0.0  MEASUREMENT     12

[90235 rows x 5 columns]

In [10]:
# 2021 yearly rooftop PV elecrtricity generation aggragation by 'Month' and'REGIONID' 
# Group by 'Month' and 'REGIONID', and sum the 'POWER' - i.e. the power of generator
aggregated_df = yearly_df.groupby(['Month', 'REGIONID'])['POWER'].sum().reset_index()
aggregated_df

    Month REGIONID        POWER
0       1      NSW   988500.651
1       1      QLD   995889.624
2       1       SA   517207.833
3       1      TAS    54599.012
4       1      VIC   717042.946
5       2      NSW   833484.738
6       2      QLD   855279.177
7       2       SA   420196.076
8       2      TAS    46969.914
9       2      VIC   622064.339
10      3      NSW   778378.516
11      3      QLD   820851.343
12      3       SA   418677.497
13      3      TAS    43555.658
14      3      VIC   560431.159
15      4      NSW   784505.737
16      4      QLD   743284.482
17      4       SA   312595.346
18      4      TAS    33678.233
19      4      VIC   433168.670
20      5      NSW   618831.810
21      5      QLD   751111.929
22      5       SA   223260.580
23      5      TAS    23404.599
24      5      VIC   338649.028
25      6      NSW   493260.906
26      6      QLD   637996.731
27      6       SA   179776.775
28      6      TAS    15359.579
29      6      VIC   259019.160
30      7      NSW   602970.664
31      7      QLD   743329.344
32      7       SA   205836.420
33      7      TAS    20619.371
34      7      VIC   310209.000
35      8      NSW   823201.548
36      8      QLD   916100.282
37      8       SA   314573.963
38      8      TAS    28622.313
39      8      VIC   462357.956
40      9      NSW   999516.600
41      9      QLD  1034292.672
42      9       SA   381998.349
43      9      TAS    41909.599
44      9      VIC   601765.890
45     10      NSW  1183250.853
46     10      QLD  1183623.367
47     10       SA   500069.990
48     10      TAS    48296.241
49     10      VIC   779667.574
50     11      NSW   972345.824
51     11      QLD  1062791.543
52     11       SA   506543.183
53     11      TAS    61008.575
54     11      VIC   824806.435
55     12      NSW  1248172.019
56     12      QLD  1281291.749
57     12       SA   636571.461
58     12      TAS    70726.727
59     12      VIC   991301.189

In [11]:
aggregated_df.isnull().sum()

Month       0
REGIONID    0
POWER       0
dtype: int64

In [13]:
#Add a new column 'Electricity Generation(MWh)'
aggregated_df['Electricity Generation (MWh)'] = round(aggregated_df['POWER'] * (30/60), 2)
aggregated_df

    Month REGIONID        POWER  Electricity Generation (MWh)
0       1      NSW   988500.651                     494250.33
1       1      QLD   995889.624                     497944.81
2       1       SA   517207.833                     258603.92
3       1      TAS    54599.012                      27299.51
4       1      VIC   717042.946                     358521.47
5       2      NSW   833484.738                     416742.37
6       2      QLD   855279.177                     427639.59
7       2       SA   420196.076                     210098.04
8       2      TAS    46969.914                      23484.96
9       2      VIC   622064.339                     311032.17
10      3      NSW   778378.516                     389189.26
11      3      QLD   820851.343                     410425.67
12      3       SA   418677.497                     209338.75
13      3      TAS    43555.658                      21777.83
14      3      VIC   560431.159                     280215.58
15      4      NSW   784505.737                     392252.87
16      4      QLD   743284.482                     371642.24
17      4       SA   312595.346                     156297.67
18      4      TAS    33678.233                      16839.12
19      4      VIC   433168.670                     216584.34
20      5      NSW   618831.810                     309415.91
21      5      QLD   751111.929                     375555.96
22      5       SA   223260.580                     111630.29
23      5      TAS    23404.599                      11702.30
24      5      VIC   338649.028                     169324.51
25      6      NSW   493260.906                     246630.45
26      6      QLD   637996.731                     318998.37
27      6       SA   179776.775                      89888.39
28      6      TAS    15359.579                       7679.79
29      6      VIC   259019.160                     129509.58
30      7      NSW   602970.664                     301485.33
31      7      QLD   743329.344                     371664.67
32      7       SA   205836.420                     102918.21
33      7      TAS    20619.371                      10309.69
34      7      VIC   310209.000                     155104.50
35      8      NSW   823201.548                     411600.77
36      8      QLD   916100.282                     458050.14
37      8       SA   314573.963                     157286.98
38      8      TAS    28622.313                      14311.16
39      8      VIC   462357.956                     231178.98
40      9      NSW   999516.600                     499758.30
41      9      QLD  1034292.672                     517146.34
42      9       SA   381998.349                     190999.17
43      9      TAS    41909.599                      20954.80
44      9      VIC   601765.890                     300882.94
45     10      NSW  1183250.853                     591625.43
46     10      QLD  1183623.367                     591811.68
47     10       SA   500069.990                     250035.00
48     10      TAS    48296.241                      24148.12
49     10      VIC   779667.574                     389833.79
50     11      NSW   972345.824                     486172.91
51     11      QLD  1062791.543                     531395.77
52     11       SA   506543.183                     253271.59
53     11      TAS    61008.575                      30504.29
54     11      VIC   824806.435                     412403.22
55     12      NSW  1248172.019                     624086.01
56     12      QLD  1281291.749                     640645.87
57     12       SA   636571.461                     318285.73
58     12      TAS    70726.727                      35363.36
59     12      VIC   991301.189                     495650.59

In [14]:
#Save the aggregated sheet as the yearly aggregated dataset
aggregated_df.to_csv('aggregatedREGIONID_PV_2021.csv', index=False)