In [1]:
import pandas as pd

In [2]:
# List of 12 monthly dataset filenames
dataset_filenames = [
    '202201-PV.CSV',
    '202202-PV.CSV',
    '202203-PV.CSV',
    '202204-PV.CSV',
    '202205-PV.CSV',
    '202206-PV.CSV',
    '202207-PV.CSV',
    '202208-PV.CSV',
    '202209-PV.CSV',
    '202210-PV.CSV',
    '202211-PV.CSV',
    '202212-PV.CSV'
]

In [3]:
# List to store the monthly dataframes
monthly_dataframes = []

In [5]:
# Iterate over each dataset filename
for filename in dataset_filenames:
    # Open the monthly dataset
    dataset = pd.read_csv(filename)
    
    # Drop the original headers in the dataset, use the first row as the new headers
    dataset = dataset.rename(columns=dataset.iloc[0]).drop(dataset.index[0]).reset_index(drop=True)
    
    # Drop the last row ('END OF REPORT') in the dataset
    dataset = dataset.iloc[:-1]
    
    # Drop the 1st-4th, 8th and 10th columns (irrelavant columns:'I','ROOFTOP','ACTUAL','2','QI','LASTCHANGED')
    columns_to_drop = dataset.columns[[0, 1, 2, 3, 7, 9]]
    dataset = dataset.drop(columns_to_drop, axis=1)
    
    # Keep all rows with ‘REGIONID’ as: NSW1, QLD1, SA1, VIC1, TAS1; 
    # Reason: all these Region IDs are the sum of other IDs, such as QLDC, QLDS, QLDN, etc
    regions_to_keep = ['NSW1', 'QLD1', 'VIC1', 'TAS1', 'SA1']
    dataset = dataset[dataset['REGIONID'].isin(regions_to_keep)]
    
    # Keep all records with ‘TYPE’ as: ‘MEASUREMENT’; 
    # Reason: ‘MEASUREMENT’ is the actual measured results of ‘POWER’, ‘SATELLITE’ is the estimated results of ‘power’)
    dataset = dataset[dataset['TYPE'] == 'MEASUREMENT'] 
    
    # Clean the 'REGIONID' column: e.g. 'NSW1' to 'NSW'
    dataset['REGIONID'] = dataset['REGIONID'].replace({'NSW1':'NSW','QLD1':'QLD','VIC1':'VIC','SA1':'SA','TAS1':'TAS'})
    
     # Change POWER to numeric
    dataset['POWER'] = pd.to_numeric(dataset['POWER'], errors='coerce')
    
    # Change INTERVAL_DATETIME to datetime
    dataset['INTERVAL_DATETIME'] = pd.to_datetime(dataset['INTERVAL_DATETIME'])
    
    # Add a new column 'Month'
    dataset['Month'] = int(filename[4:6])  # Extract the month from the filename
    
    # Append the monthly dataset to the list
    monthly_dataframes.append(dataset)

In [6]:
# Concatenate the monthly dataframes vertically to get the yearly electricity generation dataframe
yearly_df = pd.concat(monthly_dataframes, ignore_index=True)
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2022-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2022-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2022-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2022-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2022-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
90475 2023-01-02 00:00:00      NSW    0.0  MEASUREMENT     12
90476 2023-01-02 00:00:00      QLD    0.0  MEASUREMENT     12
90477 2023-01-02 00:00:00       SA    0.0  MEASUREMENT     12
90478 2023-01-02 00:00:00      TAS    0.0  MEASUREMENT     12
90479 2023-01-02 00:00:00      VIC    0.0  MEASUREMENT     12

[90480 rows x 5 columns]

In [13]:
# Delete any rows where the 'INTERVAL_DATETIME' is from 2023
yearly_df = yearly_df[~(yearly_df['INTERVAL_DATETIME'].dt.year == 2023)]
yearly_df

        INTERVAL_DATETIME REGIONID  POWER         TYPE  Month
0     2022-01-01 00:30:00      NSW    0.0  MEASUREMENT      1
1     2022-01-01 00:30:00      QLD    0.0  MEASUREMENT      1
2     2022-01-01 00:30:00       SA    0.0  MEASUREMENT      1
3     2022-01-01 00:30:00      TAS    0.0  MEASUREMENT      1
4     2022-01-01 00:30:00      VIC    0.0  MEASUREMENT      1
...                   ...      ...    ...          ...    ...
90230 2022-12-31 23:30:00      NSW    0.0  MEASUREMENT     12
90231 2022-12-31 23:30:00      QLD    0.0  MEASUREMENT     12
90232 2022-12-31 23:30:00       SA    0.0  MEASUREMENT     12
90233 2022-12-31 23:30:00      TAS    0.0  MEASUREMENT     12
90234 2022-12-31 23:30:00      VIC    0.0  MEASUREMENT     12

[90235 rows x 5 columns]

In [14]:
# 2022 yearly rooftop PV elecrtricity generation aggragation by 'Month' and'REGIONID' 
# Group by 'Month' and 'REGIONID', and sum the 'POWER' - i.e. the power of generator
aggregated_df = yearly_df.groupby(['Month', 'REGIONID'])['POWER'].sum().reset_index()
aggregated_df

    Month REGIONID        POWER
0       1      NSW  1200837.875
1       1      QLD  1222076.718
2       1       SA   542175.322
3       1      TAS    58631.009
4       1      VIC   955145.349
5       2      NSW  1014204.054
6       2      QLD  1050262.693
7       2       SA   495476.922
8       2      TAS    54659.385
9       2      VIC   834180.974
10      3      NSW   893113.838
11      3      QLD  1115723.952
12      3       SA   513818.604
13      3      TAS    48373.578
14      3      VIC   727120.166
15      4      NSW   806267.381
16      4      QLD   923083.916
17      4       SA   337936.172
18      4      TAS    33615.478
19      4      VIC   478722.816
20      5      NSW   672925.754
21      5      QLD   633109.436
22      5       SA   278368.440
23      5      TAS    25168.025
24      5      VIC   377106.149
25      6      NSW   655027.624
26      6      QLD   784924.241
27      6       SA   203207.157
28      6      TAS    20143.778
29      6      VIC   299032.727
30      7      NSW   660868.739
31      7      QLD   792664.832
32      7       SA   246727.023
33      7      TAS    23825.871
34      7      VIC   406049.386
35      8      NSW   868198.603
36      8      QLD  1006209.367
37      8       SA   317211.673
38      8      TAS    30262.512
39      8      VIC   486137.037
40      9      NSW  1027175.299
41      9      QLD  1085539.803
42      9       SA   386962.609
43      9      TAS    41599.073
44      9      VIC   643787.149
45     10      NSW  1152383.274
46     10      QLD  1172699.246
47     10       SA   471317.263
48     10      TAS    51024.846
49     10      VIC   801018.434
50     11      NSW  1598894.095
51     11      QLD  1424774.511
52     11       SA   547628.718
53     11      TAS    66324.287
54     11      VIC   936305.312
55     12      NSW  1590958.092
56     12      QLD  1427429.909
57     12       SA   685841.425
58     12      TAS    74769.813
59     12      VIC  1152284.913

In [15]:
aggregated_df.isnull().sum()

Month       0
REGIONID    0
POWER       0
dtype: int64

In [18]:
#Add a new column 'Electricity Generation(MWh)'
aggregated_df['Electricity Generation (MWh)'] = round(aggregated_df['POWER'] * (30/60), 2)
aggregated_df

    Month REGIONID        POWER  Electricity Generation (MWh)
0       1      NSW  1200837.875                     600418.94
1       1      QLD  1222076.718                     611038.36
2       1       SA   542175.322                     271087.66
3       1      TAS    58631.009                      29315.50
4       1      VIC   955145.349                     477572.67
5       2      NSW  1014204.054                     507102.03
6       2      QLD  1050262.693                     525131.35
7       2       SA   495476.922                     247738.46
8       2      TAS    54659.385                      27329.69
9       2      VIC   834180.974                     417090.49
10      3      NSW   893113.838                     446556.92
11      3      QLD  1115723.952                     557861.98
12      3       SA   513818.604                     256909.30
13      3      TAS    48373.578                      24186.79
14      3      VIC   727120.166                     363560.08
15      4      NSW   806267.381                     403133.69
16      4      QLD   923083.916                     461541.96
17      4       SA   337936.172                     168968.09
18      4      TAS    33615.478                      16807.74
19      4      VIC   478722.816                     239361.41
20      5      NSW   672925.754                     336462.88
21      5      QLD   633109.436                     316554.72
22      5       SA   278368.440                     139184.22
23      5      TAS    25168.025                      12584.01
24      5      VIC   377106.149                     188553.07
25      6      NSW   655027.624                     327513.81
26      6      QLD   784924.241                     392462.12
27      6       SA   203207.157                     101603.58
28      6      TAS    20143.778                      10071.89
29      6      VIC   299032.727                     149516.36
30      7      NSW   660868.739                     330434.37
31      7      QLD   792664.832                     396332.42
32      7       SA   246727.023                     123363.51
33      7      TAS    23825.871                      11912.94
34      7      VIC   406049.386                     203024.69
35      8      NSW   868198.603                     434099.30
36      8      QLD  1006209.367                     503104.68
37      8       SA   317211.673                     158605.84
38      8      TAS    30262.512                      15131.26
39      8      VIC   486137.037                     243068.52
40      9      NSW  1027175.299                     513587.65
41      9      QLD  1085539.803                     542769.90
42      9       SA   386962.609                     193481.30
43      9      TAS    41599.073                      20799.54
44      9      VIC   643787.149                     321893.57
45     10      NSW  1152383.274                     576191.64
46     10      QLD  1172699.246                     586349.62
47     10       SA   471317.263                     235658.63
48     10      TAS    51024.846                      25512.42
49     10      VIC   801018.434                     400509.22
50     11      NSW  1598894.095                     799447.05
51     11      QLD  1424774.511                     712387.26
52     11       SA   547628.718                     273814.36
53     11      TAS    66324.287                      33162.14
54     11      VIC   936305.312                     468152.66
55     12      NSW  1590958.092                     795479.05
56     12      QLD  1427429.909                     713714.95
57     12       SA   685841.425                     342920.71
58     12      TAS    74769.813                      37384.91
59     12      VIC  1152284.913                     576142.46

In [19]:
#Save the aggregated sheet as the yearly aggregated dataset
aggregated_df.to_csv('aggregatedREGIONID_PV_2022.csv', index=False)